body {
    background-color: #1f363d;
    color: seashell;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

header {
    margin: 15px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
}

h1 {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    text-align: left;
}

.subject-title {
    font-family: 'Domine', Arial, Helvetica, sans-serif;
    color: plum;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 400px;
    border: 1px solid seashell;
    padding: 20px;
    margin: 10px;
}

.subtitle {
    opacity: 0.7;
    font-style: italic;
}

.project-description {
    display: flex;
}

.project-description p {
    scroll-behavior: smooth;
}

.preview-image {
    width: 200px;
    margin: 10px;
}

.preview-image:hover {
    opacity: 0.8;
}

.project-description p {
    margin: 10px;
}

a {
    color: #F4B860;
}

a:hover {
    opacity: 0.8;
    text-decoration: none;

}