body {
    background-color: #1f363d;
    color: seashell;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    max-width: 800px;
    margin: 20px auto;
}

article {
    border: 1px solid seashell;
    padding: 20px;
}

.subtitle {
    opacity: 0.7;
    font-style: italic;
}

.project-description {
    display: flex;
}

.preview-image {
    width: 200px;
    margin: 10px;
}

.preview-image:hover {
    opacity: 0.8;
}

.project-description p {
    margin: 10px;
}

a {
    color: #F4B860;
}

a:hover {
    opacity: 0.8;
    text-decoration: none;

}