body {
    background-color: #1f363d;
    color: seashell;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

header {
    margin: 10px;
}

main {
    max-width: 1000px;
    margin: 10px auto;
    padding: 0px 10px;
}

h1, h2, h3 {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

.subject-title {
    color: plum;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    
    border: 1px solid seashell;
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 300px;      /* Will avoid shrinking below this witdh*/
}

.subtitle {
    opacity: 0.7;
    font-style: italic;
}

.project-description {
    display: flex;
    flex-wrap: wrap;
}

.project-description p {
    flex-basis: 180px;
    flex-grow: 1;
}

.preview-image {
    width: 200px;
    margin-right: 20px;
    text-align: center;
    background-color: seashell;
}

a {
    color: #F4B860;
}

a:hover {
    opacity: 0.8;
    text-decoration: none;

}